.popularH{
    display: flex;
    align-items: center;
    margin-top: 3%;
    padding-left: 2%;
}
.popularH p{
    padding-left: 1%;
    font-size: 23px;
    font-weight: 900;
}
#popularChange{
     padding-left: 1%;
      font-size: 18px;
}
.popularImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    padding: 2%;
}
.popularImg1, .popularImg2, .popularImg3, .popularImg4{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    border-radius: 7px;
}
.popularImg1{
    width: 60%;
    background-image: url(img/stand.png);

}
.popularImg2{
    width: 35%;
    background-image: url(img/assas.jpg);
}
.popularImg3{
    width: 50%;
    margin-top: 2%;
    background-image: url(img/original.jpg);
}
.popularImg4{
    width: 45%;
    margin-top: 2%;
    background-image: url(img/diablo.jpg);
}
.newsH{
    margin-top: 2%;
    font-size: 23px;
    font-weight: 900;
}
.newsBlocks{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.newsH{
    padding-left: 2%;
}
.newsBlock{
    width: 46%;
    height: 100px;
    background-color: #151C24;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1%;
    text-decoration: none;
}
.popularImgSpan{
    position: relative;
    top: 80%;
    left: 2%;
    font-weight: bold;
}
.newsBlock p{
    font-size: 18px;
    font-weight: 600;
    padding-left: 3%;
}
.newsBlock span{
    color: rgba(255, 255, 255, 0.74);
    font-size: 15px;
    font-weight: 100;
    padding-left: 3%;
}
.newsBtn, .articleBtn{
    margin-top: 2%;
    width: 96%;
    height: 50px;
    background-color: #151C24;
    font-size: 25px;
    font-weight: 900;
    position:relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border: none;
    border-radius: 10px;
}
.newsBtn:hover, .articleBtn:hover{
    color: #EC6407;
}
.article{
    padding: 2%;
}
.articleH p{
    margin-top: 2%;
    font-size: 23px;
    font-weight: 900;
}
.articleBlock{
    width: 100%;
    display: flex;
    margin-top: 2%;
    text-decoration: none;
    background-color: #151C24;
    
}
.articleText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.articleText p{
    font-size: 20px;
    font-weight: 600;
    padding-left: 3%;
}

.articleText span{
    color: rgba(255, 255, 255, 0.74);
    font-size: 15px;
    font-weight: 100;
    padding-left: 3%;
}
.cosplay{
    padding: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.cosplayH{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cosplayH p{
    width: 33%;
    text-align: start;
    font-size: 23px;
    font-weight: 900;
}
#p1{
    width: 62%;
}
.cosplayBlocks{
    width:100% ;
    display: flex;
    justify-content: space-between;
}
.cosplayBlock1{
    width: 62%;
    height: 600px;
    margin-top: 2%;
}
.cosplayBlock2{
    width: 33%;
    height: 600px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cosplayGirls{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cosplayGirl1{
    background-image: url(img/girl\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cosplayGirl2{
    background-image: url(img/girl\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.cosplayGirl1, .cosplayGirl2{
    width: 45%;
    height: 507px;
    text-align: center;
}

.cosplayGirl1 p a, .cosplayGirl2 p a{
    color: #EC6407;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.cosplayBtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.moreCosplay, .moreCompilation{
    width: 100%;
    height: 50px;
    background-color: #151C24;
    font-size: 25px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
}
.moreCosplay{
    margin-top: 5%;
}
.moreCosplay:hover{
    color: #EC6407;
}
.cosplayCompilation{
    width: 100%;
    height: 110px;
    background-color: #151C24;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 7px;
}
.cosplayCompilations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}
.cosplayCompilations p{
    font-size: 17px;
    font-weight: 600;
    padding-left: 3%;
}
.cosplayCompilations span{
    color: rgba(255, 255, 255, 0.74);
    font-size: 15px;
    font-weight: 100;
    padding-left: 3%;
}
.cosplayCompilations a{
    text-decoration: none;
}
.moreCompilation:hover{
    color: #EC6407;
}
footer{
    margin-top: 3%;
    width: 100%;
    height: 80px;
    background-color: #1C2431;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerContent{
    width: 75%;
    display: flex;
    align-items: center;
}
.footerContent img{
    width: 30px;
}
.footerContent span{
    padding-left: 3%;
}



@media (min-width: 1024px) and (max-width: 1440px) { 
    .cosplayCompilation p{
        font-size: 13px;
    }
    .moreCompilation{
        font-size: 18px;
    }
    .popularImgSpan{
        top: 70%;
        font-size: 14px;
    }
 }


 @media (max-width: 1024px) and (min-width: 640px) {

    .popularImg1, .popularImg2 ,.popularImg3 ,.popularImg4 {
        width: 100%;
    }
    .popularImg2{
        margin-top: 2%;
    }
    .newsBlock{
        width: 100%;
    }
    .articleBlock{
        flex-direction: column;
    }
    .articleBlock img{
        width: 100% !important;
        height: auto !important;
    }
    .articleText{
        width: 100%;
    }
    .articleText p{
        font-size: 17px;
        margin-top: 1%;
    }
    .articleText span{
        font-size: 13px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    #p2{
        display: none;
    }
    .cosplayBlock2{
        display: none;
    }
    .cosplayBlock1{
        width: 100%;
    }
   
    .cosplayGirl1 , .cosplayGirl2 {
        height: 250px;
    }
    .cosplayBlock1{
        height: auto;
    }
    .moreCosplay{
        margin-top: 2%;
    }
    .popularImgSpan{
        top: 70%;
    }
  

}



@media (max-width: 640px) and (min-width: 480px){

    .popularImg1, .popularImg2 ,.popularImg3 ,.popularImg4 {
        width: 100%;
    }
    .popularImg2{
        margin-top: 2%;
    }
    .newsBlock{
        width: 100%;
    }
    .articleBlock{
        flex-direction: column;
    }
    .articleBlock img{
        width: 100% !important;
        height: auto !important;
    }
    .articleText{
        width: 100%;
    }
    .articleText p{
        font-size: 14px;
        margin-top: 1%;
    }
    .articleText span{
        font-size: 13px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .newsBlock p{
        font-size: 14px;
    }
    #p2{
        display: none;
    }
    .cosplayBlock2{
        display: none;
    }
    .cosplayBlock1{
        width: 100%;
    }
    .cosplayGirl1 , .cosplayGirl2 {
        height: 240px;
    }
    .cosplayBlock1{
        height: auto;
    }
    .moreCosplay{
        margin-top: 2%;
    }
    .popularImgSpan{
        top: 70%;
    }
}
@media (max-width: 480px) and (min-width: 290px){

    .popularH p{
        font-size: 18px;
    }
    .popularImg1, .popularImg2 ,.popularImg3 ,.popularImg4 {
        width: 100%;
        height: 200px;
        background-position: center;
    }
    .popularImgSpan{
        top: 60%;
        font-size: 14px;
    }
    .popularImg2{
        margin-top: 2%;
    }
    .newsBlock{
        width: 100%;
    }
    .articleBlock{
        flex-direction: column;
    }
    .articleBlock img{
        width: 100% !important;
        height: auto !important;
    }
    .articleText{
        width: 100%;
    }
    .articleText p{
        font-size: 14px;
        margin-top: 1%;
    }
    .articleText span{
        font-size: 13px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .newsBlock p{
        font-size: 13px;
    }
    .newsH p{
        font-size: 16px;
    }
    .newsBtn, .articleBtn, .moreCosplay{
        font-size: 15px;
    }
    #p2{
        display: none;
    }
    .cosplayBlock2{
        display: none;
    }
    .cosplayBlock1{
        width: 100%;
    }


    .cosplayBlock1{
        height: auto;
    }
    .moreCosplay{
        margin-top: 2%;
    }
    .userName{
        font-size: 12px;
    }
    .cosplayGirl1{
        width: 100%;
        height: 240px;
    }
    .cosplayGirl2{
        display: none;
    }

}