body{
    background-color: #151C24;
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 0px auto;
    margin: 0;
    box-sizing: border-box;
    

}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1C2431;
}
.navContainer{
    display: flex;
    align-items: center;
}
.header{
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login{
    display: flex;
}
.login p{
    padding-left: 5px;
}
.login span{
    padding-left: 5px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
}
nav ul li a:hover{
    color: #EC6407;
    text-decoration: underline;
}
.container{
    background-color: #1C2431;
    width: 75%;
    margin-top: 4%;
}
footer{
    margin-top: 3%;
    width: 100%;
    height: 80px;
    background-color: #1C2431;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
.footerContent{
    width: 75%;
    display: flex;
    align-items: center;
}
.footerContent img{
    width: 30px;
}
.footerContent span{
    padding-left: 3%;
}
.feedback{
    position: fixed;
    top: 40%;
    right: 0%;
    display: flex;
    align-items: center;
}
.feedbackClick{
    right: 0%;
}
.feedbackH{
    width: 40px;
    height: 150px;
    padding: 10px;
    background-color: #EC6407;
    text-align: center;
    cursor: pointer;
    border-radius: 10px 0px 0px 10px;
}
.feedbackH span{
    writing-mode: vertical-rl;
}
.feedbackContainer{
    width: 200px;
    height: 200px;
    background-color: #1C2431;
    border-radius: 5px;
    display: none;
}
.close{
    width: 1em;
    height: 1em;
    background-color: rgba(305, 305, 305, 0.61);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.close:hover{
    background-color: #EC6407;
}
.feedbackContainerH{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
}
.inputs{
    margin-top: 10px;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inputFeedback{
    background-color: #151C24;
    border: none;
    outline: none;
    width: 170px;
    font-size: 12px;
}
#btnFeedback{
    width: 170px;
    height: 30px;
    background-color: #EC6407;
    border: none;
    font-weight: 600;
}



.test{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.test p{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 30px;
    font-weight: 900;
}
.testImg{
 width: 60%;
 height: 400px;
 background-image: url(img/scale_1200.webp);
 background-size: cover;
 background-repeat: no-repeat;
 background-position-y: 60%;
}
.testBtn{
    width: 100%;
    padding: 0 2% 0 2%;
    display: flex;
    justify-content: center;
}
#start{
    width: 60%;
    height: 50px;
    background-color: #151C24;
    font-size: 25px;
    font-weight: 900;
    border: none;
    margin-bottom: 2%;
}
#start:hover{
    color: #EC6407;
}



@media (max-width: 1024px) and (min-width: 480px) {

    .feedback{
        display: none;
    }
    nav{
        display: none;
    }
    .login{
        display: none;
    }
}

@media (max-width: 640px) and (min-width: 480px) {

    .feedback{
        display: none;
    }
    nav{
        display: none;
    }
    .login{
        display: none;
    }
    .test p{
        font-size: 16px;
    }

  
}
@media (max-width: 640px) and (min-width: 290px) {

    .feedback{
        display: none;
    }
    nav{
        display: none;
    }
    .login{
        display: none;
    }
    .test p{
        font-size: 12px;
    }
    .testImg{
        height: 300px;
    }

  
}