
.navigation{
    width: 100%;
    display: flex;
    padding: 2%;
    justify-content: flex-start;
}
.navigation p a{
    text-decoration: none;
}
.imgArticle{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 6px;
}
.wrapper{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 6px;
    padding: 2%;
}
.articleH{
    position: relative;
    z-index: 50;
    top: -50%;
    padding: 2%;
}
.autor{
    position: relative;
    top: -90%;
}
#autorName{
    position: relative;
    z-index: 50;
    top: -50%;
    padding: 2%; 
}

.articleH{
    font-size: 30px;
    font-weight: 600;
}
.articleContent{
    margin-top: 2%;
    padding: 2%;
}
.imgAndP{
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
}
.imgAndP p{
    padding-left: 2%;
}
.imgAndP img{
    width: 40%;
}
.discussion{
    width: 60%;
    padding: 2%;
}
.discussion p{
    font-size: 18px;
    font-weight: 600;
}
#comment{
    width: 60% ;
    height: 40px;
    margin-top: 2%;
    background-color: #151C24;
    border: none;
    outline: none;
}
#sendComment{
    width: 20% ;
    height: 40px;
    margin-top: 2%;
    background-color: #151C24;
    border: none;
    outline: none;
}

@media (min-width: 1024px) and (max-width: 1440px) { 
    .cosplayCompilation p{
        font-size: 13px;
    }
    .moreCompilation{
        font-size: 18px;
    }
    .popularImgSpan{
        top: 70%;
        font-size: 14px;
    }
 }

@media (max-width: 1024px) and (min-width: 640px) {
    .articleH p{
        position: relative;
        z-index: 50;
        top: 30%;
        padding: 2%;
    }
    .imgAndP{
        display: flex;
        flex-direction: column;
    }
    .imgAndP img{
       width: 100%;
       margin-bottom: 2%;
    }
    .discussion{
        width: 100%;
    }
    .navigation {
        font-size: 12px;
    }

  
}

@media (max-width: 640px) and (min-width: 480px) {
    .imgAndP{
        display: flex;
        flex-direction: column;
    }
    .imgAndP img{
       width: 100%;
       margin-bottom: 2%;
    }
    .discussion{
        width: 100%;
    }
    .navigation {
        display: none;
    }
    .articleH{
        top: -40%;
    }
  
}
@media (max-width: 480px) and (min-width: 290px) {

    .imgAndP{
        display: flex;
        flex-direction: column;
    }
    .imgAndP img{
       width: 100%;
       margin-bottom: 2%;
    }
    .discussion{
        width: 100%;
    }
    .navigation {
        font-size: 12px;
    }
    .articleH{
        top: -30%;
        font-size: 17PX;
    }
    .navigation {
        display: none;
    }
    #sendComment{
        font-size: 10PX;
        width: 30%;
    }
    .footerContent span{
        font-size: 10px;
    }
  
};
