.navigation{
    width: 100%;
    display: flex;
    padding: 2%;
    justify-content: flex-start;
}
.navigation p a{
    text-decoration: none;
}
.newsH p{
    padding-left: 2%;
    font-size: 30px;
    font-weight: 800;
}
.newsTime span{
    padding-left: 2%;
    color: rgba(255, 255, 255, 0.466);
}

.newsContent{
    margin-top: 2%;
    padding: 2%;
}
.imgAndP{
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
}
.imgAndP p{
    padding-left: 2%;
}
.imgAndP img{
    width: 40%;
}
.discussion{
    width: 60%;
    padding: 2%;
}
.discussion p{
    font-size: 18px;
    font-weight: 600;
}
#comment{
    width: 60% ;
    height: 40px;
    margin-top: 2%;
    background-color: #151C24;
    border: none;
    outline: none;
}
#sendComment{
    width: 20% ;
    height: 40px;
    margin-top: 2%;
    background-color: #151C24;
    border: none;
    outline: none;
}
.comment{
    margin-top: 1%;
    padding: 1%;
    background-color: #151C24;
    width: max-content;
    margin-left: 2%;
}
.loginComment{
    font-weight: bold;
    margin-left: 1%;
    color: #EC6407;
}
.timeComment{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.298);
}
.textComment{
    margin-top: 1%;
    padding-bottom: 1%;
    
}
.containerComment{
    display: flex;
    align-items: center;
}
.container{
    padding-bottom: 5%;
}



@media (max-width: 1440px) and (min-width: 1024px) {
    .imgAndP {
        flex-direction: column;
     }
     .imgAndP img{
         width: 100%;
     }
     .imgAndP p{
        margin-top: 1%;
     }

}


@media (max-width: 1024px) and (min-width: 640px) {

    .newsH p{
        font-size: 20px;
    }
    .imgAndP {
       flex-direction: column;
    }
    .imgAndP img{
        width: 100%;
    }
    .imgAndP p{
       margin-top: 1%;
    }
    #sendComment{
        width: 35%;
    }
    .discussion{
        width: 100%;
    }
    .navigation{
       font-size: 10px;
     }
  

}

@media (max-width: 640px) and (min-width: 480px) {

    .navigation{
       display: none;
    }
    .newsH p{
        font-size: 20px;
    }
    .imgAndP {
       flex-direction: column;
    }
    .imgAndP img{
        width: 100%;
    }
    .imgAndP p{
       margin-top: 1%;
    }
    #sendComment{
        width: 35%;
    }
    .discussion{
        width: 100%;
    }

}
@media (max-width: 480px) and (min-width: 290px) {
    .container{
        max-width: 290px;
    }
    .header{
        min-width: 290px;
    }
    .feedback{
        display: none;
    }
    nav{
        display: none;
    }
    .login{
        display: none;
    }
    .navigation{
       display: none;
    }
    .newsH p{
        font-size: 20px;
    }
    .imgAndP {
       flex-direction: column;
    }
    .imgAndP img{
        width: 100%;
    }
    .imgAndP p{
       margin-top: 1%;
    }
    #sendComment{
        width: 35%;
    }
    .discussion{
        width: 100%;
    }

}