.compilationCosplay p{
    padding: 2%;
    font-size: 23px;
    font-weight: 900;
}
.compilationCosplayH{
    display: flex;
    align-items: center;
    margin-top: 3%;
    padding-left: 2%;
}
.compilationCosplayH p{
    font-size: 23px;
    font-weight: 900;
}
#popularChange{
     padding-left: 1%;
    font-size: 18px;
}
.popularImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    padding: 2%;
}
.popularImg1, .popularImg2, .popularImg3, .popularImg4{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    border-radius: 7px;
}
.popularImg1{
    width: 60%;
    background-image: url(img/cosplay1.jpg);
}

.popularImg2{
    width: 35%;
    background-image: url(img/cosplay2.jpg);
}
.popularImg3{
    width: 50%;
    margin-top: 2%;
    background-image: url(img/cosplay3.jpg);
}
.popularImg4{
    width: 45%;
    margin-top: 2%;
    background-image: url(img/cosplay4.jpg);
}
.popularImgSpan{
    position: relative;
    top: 80%;
    left: 2%;
    font-weight: bold;
}
.memH{
    display: flex;
    align-items: center;
    margin-top: 1%;
    padding-left: 2%;
}
.memH p{
    margin-top: 2%;
    font-size: 23px;
    font-weight: 900;
}
.memes{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mem{
    width: 360px;
    height: 360px;
    margin-top: 1%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.memes img{
    width: 30px;
    padding: 1%;
    background-color: #151c247e;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 5px;
}
.testsH{
    padding: 2%;
    font-size: 23px;
    font-weight: 900;
}

.tests{
    width: 100%;
    padding: 2%;
}
.tests a{
    text-decoration: none;
}
.test1{
    width: 100%;
    height: 250px;
    background-color: #151C24;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}
.test2{
    width: 100%;
    height: 250px;
    background-color: #151C24;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}
.test3{
    width: 100%;
    height: 250px;
    background-color: #151C24;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
}
.testImg,.testImg2, .testImg3 {
    width: 40%;
    height: 250px;
    background-color: #EC6407;
    background-repeat: no-repeat;
    background-size: cover;
}
.testImg{
    background-image: url(img/scale_1200.webp);
}
.testImg2{
    background-image: url(img/dota.jpeg);
}
.testImg3{
    background-image: url(img/genshin.jpg);
}
.testH{
    width: 70%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

@media (min-width: 1024px) and (max-width: 1440px) { 

    .mem{
        width: 300px;
        height: 300px;
        margin-top: 1%;
    }

 }
@media (max-width: 1024px) and (min-width: 640px) {

    .mem{
        width: 200px;
        height: 200px;
        margin-top: 1%;
    }
  

}
@media (max-width: 640px) and (min-width: 480px) {
    .mem{
        width: 200px;
        height: 200px;
        margin-top: 1%;
    }
    .mem9{
        display: none;
    }
    .test{
        flex-direction: column;
        height: auto;
    }
    .testImg{
        width: 100%;
    }
    .testH{
        margin-top: 2%;
        margin-bottom: 2%;
    }
  

}

@media (max-width: 480px) and (min-width: 290px) {

    .memes{
        justify-content: center;
    }
    .mem{
        width: 200px;
        height: 200px;
        margin-top: 1%;
    }
    .mem9{
        display: none;
    }
    .test{
        flex-direction: column;
        height: auto;
    }
    .testImg{
        width: 100%;
    }
    .testH{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .testH p{
        font-size: 15px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
  

}
