.formsLogReg{
    padding: 2%;
    width: max-content;
    height: auto;
    position:absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid white;
    background-color: #151C24;
    border: 1px solid #EC6407;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.regP{
    margin-left: 7%;
}
footer{
    position: absolute;
    bottom: 0%;
}
#formRegister{
    width: 500px;
}
#formRegister input{
    background-color: #151C24;
    color: #EC6407;
    border: 1px solid rgba(255, 255, 255, 0.274);
    outline: none;
    margin-top: 2%;
    width: 100%;
    height: 30PX;
    border-radius: 5px;
}
#register:hover{
    background-color: #EC6407;
    color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
.enterP{
    color: #EC6407;
    font-weight: bold;
    font-size: 20px;
}
.changeForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pContainer{
    width: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formReg{
    flex-direction: column;
    margin-top: 5%;
    display: flex;
}
.formRegOpen{
    display: flex;
}
.formReg input{
    color: black;
}
#formEnter{
    margin-top: 5%;
}

#formEnter input{
    background-color: #151C24;
    color: #EC6407;
    border: 1px solid rgba(255, 255, 255, 0.274);
    outline: none;
    margin-top: 1%;
    width: 100%;
    height: 30PX;
    border-radius: 5px;
}
.errors{
    margin-top: 2%;
}
#Enter:hover{
    background-color: #EC6407;
    color: white;
}

@media (max-width: 1024px) and (min-width: 640px){
    .formsLogReg{
        width: 640px;
        height: auto;
        top: 20% !important;

    }
}

@media (max-width: 640px) and (min-width: 480px) {

    .formsLogReg{
        width: 480px !important;
        height: auto;
        top: 21% !important;

    }
    #formRegister{
        width: 350px;
    }

  
}
@media (max-width: 480px) and (min-width: 290px) {
    .formsLogReg{
        width: 290px;
        height: auto;
        top: 17% !important;
    }
    .enterP, .regP{
        font-size: 15px;
    }
    .regP{
        margin-left: 5%;
    }
    #formRegister{
        width: 250px;
    }

}